# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ/Android Studio related
*.iml
*.ipr
*.iws
.idea/

# VS Code related (commented out if you want to include settings)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Firebase related files (if applicable)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Generated iOS files
ios/.symlinks/
ios/Flutter/*.generated
ios/Pods/
ios/Runner.xcworkspace/

# Generated Android files
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# Generated macOS files
macos/Flutter/ephemeral/
macos/Flutter/*.generated

# Generated Linux files
linux/flutter/

# Generated Windows files
windows/flutter/
windows/flutter/generated_plugin_registrant.cc

# Web specific files
web/manifest.json
web/index.html
web/favicon.png

# Exclude metadata
.metadata

# Lockfiles (optional, include if you want to lock dependency versions)
# pubspec.lock
